*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#heatder{
 background-color: red;
height: 70px;
width: 100%;
text-align: center;
position: fixed;
}
h2 {
padding: 20px;
}
.head img {
    width: 100%;
    height: 400px;
}
.head{
   padding: 100px;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 20px;
   text-align: center;

}
.head p {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}
.btn{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    font-size: 40px;
}
.btn button {
    padding: 20px;
    margin-bottom: 20px;
}
.btn button:hover {
    background-color: rgba(200, 222, 31, 0.607);
}
.title{
    border: 1px solid black;
}